Mustache Simple test file for Pug
Mustache This tests basic line counting

def main():
    x = 42
    y = x * 2
    return y

result = main()  Mustache Call the function
Mustache
 * Multi-line comment
 * Second line
 Mustache